.cell {
    margin: 0;
    padding: 0;
    width: 5vw;
    height: 5vw;
    text-align: center;
    display: flex;
    justify-content: center;
}

.input {
    display: block;
    width: 100%;
    text-align: center;
}
